<% provide(:title, 'Προγνωστικά') %>
<div class="top">
<div class="container marketing">
  <div class="row">
    <div class="col-lg-4">
    <% if signed_in? %>
      <% if @user.admin? %>
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h3>Αναζητήστε τον αγώνα της επιλογής σας</h3><span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">32 - Ολυμπιακός-Παναθηναικός - 25/04/14</a></li>
                  <li><a href="#">33 - ΠΑΣ Γιάννενα-Καλλιθέα - 25/04/14</a></li>
                  <li><a href="#">34 - Καβάλα-Λάρισα - 25/04/14</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">1/05/14</li>
                  <li><a href="#">1 - Ολυμπιακός-Λάρισα - 1/05/14</a></li>
                  <li><a href="#">2 - Καλλιθέα-Πανιώνιος - 1/05/14</a></li>
                </ul>
              </li>
            </ul>
      <%= form_for @micropost, :html => {:multipart => true} do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
      <%= f.text_area :text, :cols => "40", :rows => "8", placeholder: "Εισάγετε κείμενο για το προγνωστικό σας..." %>
      </div>
      <div class="field">
      <%= f.text_area :content, :cols => "20", :rows => "1", placeholder: "Εισάγετε το προγνωστικό σας..." %>
      </div>
      <p><div class="field"> 
      Κατηγορία Δημοσίευσης:
      <%= f.select :category, [['Προγνωστικά','tips']] %>
      </div></p>
      <%= f.submit "Δημοσίευση Προγνωστικού", class: "btn btn-large btn-primary" %>
    <% end %>
      </section>
    <% end %>
    </div>
    <div class="col-lg-4">
      <h3>Τα Προγνωστικά μας</h3>
      <%= render 'shared/tips_feed' %>
    </div>
    
<% else %>
  <div class="top">
  <h3>Χώρος εγγεγραμένων χρηστών με προγνωστικά απο το πρακτορείο μας!</h3>
    <%= link_to "Γραφτείτε για να συμμετάσχετε!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>
<% end %>
</div>
</div>
</div>