<% provide(:title, "Sign in") %>

<div class="container">
  <% if signed_in? %>
  
<div class="form-signin">
<div class="top">
    <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
  </div>
  <div class="span8">
      <h3>Οι δημοσιεύσεις μου</h3>
      <%= render 'shared/feed' %>
    </div>
</div>
</div>
  <% else %>
    <div class="form-signin" role="form">
  	 <h2 class="form-signin-heading">
  		Είσοδος Χρήστη</h2>
    <%= form_for(:session, url: sessions_path, :html => {:class => "form-signin"}) do |f| %>

      <%= f.label :email, "Εισάγετε το email σας" %>
      <%= f.text_field :email, :class => "form-control" %>

      <%= f.label :password, "Κωδικός Πρόσβασης" %>
      <%= f.password_field :password, :class => "form-control" %>

      <%= f.submit "Είσοδος", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>Νέος Χρήστης; <%= link_to "Εγγραφείτε τώρα!", signup_path %></p>
    </div>
  <% end %>
</div>