<% provide(:title, 'Sign up') %>


<div class="container">

  <div class="form-signin" role="form">
  	<h2 class="form-signin-heading">
	Εγγραφή Χρήστη</h2>
    <%= form_for(@user , :html => {:class => "form-signin"}) do |f| %>
    	<%= render 'shared/error_messages' %>

      <%= f.label :username , "Όνομα Χρήστη" %>
      <%= f.text_field :username, :class => "form-control" %>

      <%= f.label :email , "Email" %>
      <%= f.text_field :email, :class => "form-control"  %>

      <%= f.label :password , "Κωδικός Πρόσβασης" %>
      <%= f.password_field :password, :class => "form-control"  %>

      <%= f.label :password_confirmation, "Επιβεβαίωση Κωδικού Πρόσβασης" %>
      <%= f.password_field :password_confirmation, :class => "form-control"  %>

      <%= f.submit "Δημιουργία του Λογαριασμού", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
