<% if tips_feed_item.category == "tips" %>

  <li align=left id="<%= tips_feed_item.id %>" class="feed">
    <div class="content"><%= tips_feed_item.text %></div> 
    <div class="content"><table class="table">
            <thead>
              <tr>
                <th>Προγνωστικό</th>
                <th>Αριθμός Αγώνα</th>
                <th>Αγώνας</th>
                <th>Ώρα</th>
                <th>Επιτυχία</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= tips_feed_item.content %></td>
                <td>32</td>
                <td>Ολυμπιακός-Παναθηναικός</td>
                <td>25/4/14 21:00μμ</td>
                <td bgcolor="green"><span class="glyphicon glyphicon-ok"></span></td>
              </tr>
            </tbody>
          </table> 
      </div> 
      <span class="timestamp">
        Posted <%= time_ago_in_words(tips_feed_item.created_at) %> ago.
      </span>
      <% if current_user?(tips_feed_item.user) %>
        <%= link_to "Διαγραφή σχολίου", tips_feed_item, method: :delete,
                                     data: { confirm: "Είστε σίγουρος για την διαγραφή του σχολίου;" },
                                     title: tips_feed_item.content %>
      <% end %>

  </li>

  <% end %>