<% provide(:title, "Edit post") %>
<div class="top">
<div class="container marketing">
  <div class="row">
    <div class="col-sm-5 .col-md-6">
    <h2 class="form-signin-heading">
  Επεξεργασία δημοσίευσης στην κατηγορία: <%= @micropost.category %></h2>
  <%= form_for @micropost, :html => {:multipart => true} do |f| %>
  
  <%= render 'shared/error_messages', object: f.object %>
  <p>
  <div class="field">
    <%= f.text_area :content, :cols => "30", :rows => "1", placeholder: "Εισάγετε τίτλο για το άρθρο σας..." %>
  </div></p>
  <p>
  <div class="field">
  <%= f.text_area :text, :cols => "40", :rows => "8", class: "tinymce", placeholder: "Εισάγετε κείμενο για το άρθρο σας..." %>
  </div></p>
  <div class="field">
  <p>
    <strong>Εισαγωγή νέας εικόνας που θα αντικαταστήσει την υπάρχουσα: </strong><%= f.file_field :image %>
  </p>
  </div>

  
  <%= f.submit "Δημοσίευση", class: "btn btn-large btn-primary" %>
  <%= f.submit 'Άδειασε την Φόρμα', :type => 'reset', class: "btn btn-small btn-primary" %>
<% end %>

  </div>
</div>
  </div>
</div>
<%= tinymce :theme => "modern", :language => "el", :entity_encoding => "raw" %>  