<!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
        <%= link_to image_tag("results.jpg", alt: "Rails"), 'myshop' %>
          <h2>Εικόνα 360</h2>
          <p>Δείτε κάθε γωνιά του ανανεωμένου Πρακτορείου μας.</p>
          <p><%= link_to "Λεπτομέρειες »", myshop_path, class: "btn btn-default" %></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= link_to image_tag("results2.jpg", alt: "Rails"), 'lucky' %>
          <h2>Κέρδη-Επιτυχίες</h2>
          <p>Κείμενο για Κέρδη-Επιτυχίες.</p>
          <p><%= link_to "Λεπτομέρειες »", lucky_path, class: "btn btn-default" %></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= link_to image_tag("results3.jpg", alt: "Rails"), 'tips' %>
          <h2>Προγνωστικά</h2>
          <p>Κείμενο για προγνωστικά.</p>
          <p><%= link_to "Λεπτομέρειες »", tips_path, class: "btn btn-default" %></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
