<!DOCTYPE html>
<html>
  
  <head data-gwd-animation-mode="quickMode">
    <link href="gwdyoutube_style.css" data-version="1" data-exports-type="gwd-youtube" rel="stylesheet">
    <script data-source="custom.elements.min.js" type="text/javascript" src="custom.elements.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <title>undefined</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="generator" content="Google Web Designer 1.1.1.0730">
    <style type="text/css">
      html, body {
        width: 100%;
        height: 100%;
        margin: 0px;
      }
      body {
        background-color: transparent;
        -webkit-transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform-style: preserve-3d;
        width: 1920px;
        height: 1080px;
      }
      .gwd-img-1c8g {
        position: absolute;
        width: 640px;
        height: 540px;
        left: 0px;
        top: 0px;
      }
      .gwd-div-ivn5 {
        height: auto;
        left: 0px;
        position: absolute;
        top: 0px;
        width: auto;
      }
      .gwd-div-k18s {
        width: 0px;
        left: 639.8000000000002px;
        top: -0.3999999999998862px;
      }
      .gwd-img-ijy6 {
        width: 640px;
      }
      .gwd-div-ezdb {
        width: 0px;
        left: 0.05000000000021619px;
        top: 535.9500000000066px;
      }
      .gwd-img-lhkh {
        width: 640px;
      }
      .gwd-div-plxd {
        width: 0px;
        left: 640.2499999999923px;
        top: 535.7499999999997px;
      }
      .gwd-img-5fbk {
        width: 640px;
      }
      .gwd-div-zsr8 {
        left: 0px;
        top: 0px;
      }
      .gwd-div-r0ej {
        width: 0px;
        left: 1279.7500000000018px;
        top: -0.5500000000005px;
      }
      .gwd-img-33w5 {
        width: 640px;
      }
      .gwd-div-s9fd {
        width: 0px;
        left: 1279.6499999999987px;
        top: 535.6500000000003px;
      }
      .gwd-img-jigx {
        width: 640px;
      }
      .gwd-video-frdx {
        position: absolute;
        width: 290px;
        height: 156.5px;
        left: 492px;
        top: 329px;
      }
      .gwd-youtube-obmt {
        position: absolute;
        width: 200px;
        height: 140px;
        left: 782px;
        top: 486px;
      }
    </style>
    <script data-source="gwdyoutube_min.js" data-version="1" data-exports-type="gwd-youtube" type="text/javascript" src="gwdyoutube_min.js"></script>
  </head>
  
  <body>
    <div class="gwd-div-ivn5 gwd-div-zsr8">
      <%= link_to image_tag("991sta3.jpg", alt: "Rails", class: "gwd-img-1c8g"), 'lucky' %>
    </div>
    <div class="gwd-div-ivn5 gwd-div-ezdb">
    <%= link_to image_tag("991sta3.jpg", alt: "Rails", class: "gwd-img-1c8g gwd-img-lhkh"), 'lucky' %>
      
    </div>
    <div class="gwd-div-ivn5 gwd-div-plxd">
    <%= link_to image_tag("991sta3.jpg", alt: "Rails", class: "gwd-img-1c8g gwd-img-5fbk"), 'lucky' %>
      
    </div>
    <div class="gwd-div-ivn5 gwd-div-k18s">
    
    <div style="width:100%; height:100%; border:5px solid red; overflow:auto;">
  <video id="Video1"
  style="height:100%; width:100%; border:none;">
    <source src="http://playground.html5rocks.com/samples/html5_misc/chrome_japan.ogv"
      type='video/ogg; codecs="theora, vorbis"' />
    <source src="http://playground.html5rocks.com/samples/html5_misc/chrome_japan.webm"
      type='video/webm; codecs="vp8, vorbis"' />
    <source src="http://playground.html5rocks.com/samples/html5_misc/chrome_japan.mp4"
      type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
  </video>
</div>

<div style="position:absolute; left:10px; top:10px;z-index:9999">
  <button id="StartButton">Start</button>
  <button id="PauseButton">Pause</button>
</div>

<script>

  var video = document.getElementById('Video1');
  $('#StartButton').on('click', function() {
    video.play();
  });

  $('#PauseButton').on('click', function() {
    video.pause();
  });

</script>

    </div>

    <div class="gwd-div-ivn5 gwd-div-k18s gwd-div-r0ej">
    <%= link_to image_tag("991sta3.jpg", alt: "Rails", class: "gwd-img-1c8g gwd-img-ijy6 gwd-img-33w5"), 'lucky' %>
    </div>
    <div class="gwd-div-ivn5 gwd-div-k18s gwd-div-s9fd">
    <%= link_to image_tag("991sta3.jpg", alt: "Rails", class: "gwd-img-1c8g gwd-img-ijy6 gwd-img-jigx"), 'lucky' %>
      
    </div>

    <video class="gwd-video-frdx" src="http://playground.html5rocks.com/samples/html5_misc/chrome_japan.ogv" controls="controls" autoplay="autoplay"></video>
  
  </body>

</html>